# Auto detect text files and perform LF normalization
* text=auto
*.py linguist-language=cpp
*.pyc linguist-language=python
*.db filter=lfs diff=lfs merge=lfs -text
*.ipch filter=lfs diff=lfs merge=lfs -text
*.sqlite filter=lfs diff=lfs merge=lfs -text
